a {
    font-family: 'Proza Libre', sans-serif;
}



.chef img {
    width: 25%;;
    margin-left: 5%;
    margin-top: 2%;
}

h4 {
  font-family: 'Oswald', sans-serif;
    text-align: center;
}

p {
    word-wrap: normal;
    margin-right: 28%;
    margin-left: 35%;
    margin-top: -1%;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
}

.button {
    margin-left: 5%;
    margin-top: -12%;
}

.btn-large {
    width: 42%;
    font-family: 'Proza Libre', sans-serif;
}


.image1 {
  width: 60%;
  margin-left: 30%;
  margin-top: -25%;
}

.rotate90 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.image2 {
  width: 60%;
  margin-left: 50%;
  margin-top: -18%;

}

.rotate91 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.image3 {
  width: 60%;
  margin-left: 52%;


}


.image4 {
  width: 60%;
  margin-left: 32%;
  margin-top: -22.5%;
}

.progress1 {
    width: 40%;
    margin-left: 50%;
    font-family: 'Proza Libre', sans-serif;
    font-style: italic;

}

.progress2 {
    width: 40%;
    margin-left: 50%;
    font-family: 'Proza Libre', sans-serif;
    font-style: italic;

}

.progress3 {
    width: 40%;
    margin-left: 50%;
    font-family: 'Proza Libre', sans-serif;
    font-style: italic;

}

.progress4 {
    width: 40%;
    margin-left: 50%;
    font-family: 'Proza Libre', sans-serif;
    font-style: italic;

}

.progress5 {
    width: 40%;
    margin-left: 50%;
    font-family: 'Proza Libre', sans-serif;
    font-style: italic;
    margin-bottom: -30%;

}

.progress6 {
  width: 40%;
  margin-left: 50%;
  font-family: 'Proza Libre', sans-serif;
  font-style: italic;
  margin-bottom: -30%;

}

.progress {
    color: #263238;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  #b {
      margin-top: 75%;
  }

  .box {
    width: 300px;
    margin: 50px auto;
    background: #263238;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    position:relative;
    margin-left: 5%;
    font-family: 'Proza Libre', sans-serif;
    font-style: italic;
  }

  .sb1:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #263238;
    border-top: 10px solid #263238;
    border-bottom: 10px solid transparent;
    right: 19px;
    bottom: -19px;
  }
  
  .sb2:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #263238;
    border-right: 10px solid transparent;
    border-top: 10px solid #263238;
    border-bottom: 10px solid transparent;
    left: 19px;
    bottom: -19px;
  }
  
  .sb3:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #263238;
    border-top: 10px solid #263238;
    border-bottom: 10px solid transparent;
    right: 19px;
    bottom: -19px;
  }


  .button2 {
      width: 100%;
      padding-left: 40%;
      margin-left: 10%;
      margin-top: -10%;
  }

  .cooking_photo {
      margin-bottom: -25%;
      margin-left: 35%;
  }

  .Resume {
      margin-left: 42.5%;
      font-family: 'Proza Libre', sans-serif;
    font-style: bold;
    font-size: 24px
  }

  .linkedin {
      margin-left: 42.5%;
      font-family: 'Proza Libre', sans-serif;
    font-style: bold;
    font-size: 24px

  }

  .phone {
      margin-left: 37.5%;
      font-family: 'Proza Libre', sans-serif;
    font-style: bold;
    font-size: 24px
  }

  .email {
    margin-left: 37.5%;
    font-family: 'Proza Libre', sans-serif;
    font-style: bold;
    font-size: 24px
  }


  .animation-target {
    -webkit-animation: animation 1000ms linear both;
    animation: animation 1000ms linear both;
  }

body {
  background-color: lightgray;
}
